# traefik/traefik.yml

# Habilita el API y el Dashboard
api:
  dashboard: true
  insecure: true # Permite el acceso al dashboard sin autenticación (solo para desarrollo)

# Define los puntos de entrada (entrypoints)
entryPoints:
  web:
    address: ":80"
    # Agregar un middleware global que redirige automáticamente cualquier tráfico HTTP al canal HTTPS.
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https

  # Habilitar el puerto 443 dentro del contenedor de Traefik para manejar conexiones HTTPS
  websecure:
    address: ":443"

# Define los proveedores de configuración (providers)
providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false

# Habilita los logs de acceso para ver el tráfico
accessLog: {}

# Configuración de logs de Traefik para depuración
log:
  level: DEBUG