server {
    listen 80;

    root /usr/share/nginx/html;
    index index.html;

    location / {
        try_files $uri /index.html;
    }

    location /api/users {
        proxy_pass http://${USERSERVICE_URL}:8002;
    }

    location /api/music {
        proxy_pass http://${MUSICSERVICE_URL}:8081;
    }

    location /api/social {
        proxy_pass http://${SOCIALSERVICE_URL}:8083;
    }

    access_log off;
    error_log /var/log/nginx/error.log warn;
}
